<div class="content-wrapper-db">
  <div class="header-bg">
    <img class="logo-img" (click)="goToHome()" src="../../assets/imgs/logo_orange.svg">
  </div>

  <img class="spin-img" *ngIf="showLoader" src="../../assets/imgs/spinner.svg"/>
  <div *ngIf="!showLoader">
      <div *ngIf="counter == 0">
        <list-component [object]="arrayScenario1[0]" [isFirst]="true"></list-component>
        <list-component [object]="arrayScenario1[1]"></list-component>
        <list-component [object]="arrayScenario1[2]"></list-component>
        <list-component [object]="arrayScenario1[3]"></list-component>
        <list-component [object]="arrayScenario1[4]"></list-component>
        <list-component [object]="arrayScenario1[5]" [isLast]="true"></list-component>
      </div>
      <div *ngIf="counter == 1">
        <list-component [object]="arrayScenario2[0]" [isFirst]="true"></list-component>
        <list-component [object]="arrayScenario2[1]"></list-component>
        <list-component [object]="arrayScenario2[2]"></list-component>
        <list-component [object]="arrayScenario2[3]"></list-component>
        <list-component [object]="arrayScenario2[4]"></list-component>
        <list-component [object]="arrayScenario2[5]" [isLast]="true"></list-component>
      </div>

      <div class="maps" (click)="openMaps()">
        Go
      </div>

      <div class="qr" (click)="showQR()">
        QR code
      </div>
  </div>
</div>
