<div class="top-banner">
  <img src="../../assets/imgs/icon_close.png" class="close-icon" (click)="close()">
  <h1 class="title" *ngIf="!object">Postonjska jama</h1>
  <h1 class="title" *ngIf="object">{{object.title}}</h1>
</div>

<div class="content">
  <img *ngIf="object" [src]="object.largeImage"/>
</div>

<div class="bottom-banner">
  <div class="play-text" (click)="playText()">
    <img src="../../assets/imgs/ikona-play.png" class="play-icon"/>
  </div>
  <div class="play-description">
    <p>{{object.description}}</p>
  </div>
</div>
